<h1>See all of your giftees</h1>

<% @giftees.each do |g| %>

  <%= g.first_name %>
  <%= g.last_name %>
<br>
  <%= g.birthday %>
<br>
  <%= link_to "More info", giftee_path(g) %>
<br>

<% end %>
  <%= link_to "Add more Giftees", new_giftee_path %>