<h1>Giftees#show</h1>
<p>Find me in app/views/giftees/show.html.erb</p>
<ul>
    <li>Name: <%= @giftee.first_name %> <%= @giftee.last_name %></li> 
    <li>Birthday: <%= @giftee.birthday %></li>
    <li>Relation: <%= @giftee.relation %> </li>
    <li>Notes: <%= @giftee.notes %></li>
</ul>

<%= link_to "Edit", :edit %>