<h1>Your Giftee</h1>

<ul>
    <li>Name: <%= @giftee.first_name %> <%= @giftee.last_name %></li> 
    <li>Birthday: <%= @giftee.birthday %></li>
    <li>Relation: <%= @giftee.relation %> </li>
    <li>Notes: <%= @giftee.notes %></li>
</ul>

<%= link_to "Edit", :edit %>